/* shared style start */
.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.btn{
    padding: 20px 43px;
    background-color: #E55473;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
}

/* shared style end */

/* banner style start */
header{
    background-color: rgba(229, 84, 115, 0.1);
    max-height: 850px;
    margin-bottom: 178px;
}
.banner{
    max-width: 1440px;
    
    margin: 0 auto;
    display: flex;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
}
.banner-info{
    max-width:708px;
}
.banner-info > h1{
    font-size: 5rem;
    font-weight: 800;
    color: #272727;
    margin-bottom: 32px;
}
.banner-info > p{
    font-size: 1.1rem;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 32px;
}
.banner-image{
    height: 100%;

}
.banner-image img{
    width: 635px;
    height: 800px;
    transform: scaleX(-1);
    filter: hue-rotate(30deg) saturate(100%) brightness(110%);

}
/* banner style end */

/* feature-flowers style start */
.feature-flowers{
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 128px;
}
.feature-flowers > h3{
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    color: #272727;
    margin-bottom: 24px;
}
.feature-flowers > p{
    font-size: 1.13rem;
    color: rgba(39, 39, 39,0.6);
    text-align: center;
    margin-bottom: 48px;
}
.feature-flowers-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature-flower{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    text-align: center;
}
.feature-flower > div {
    height: 538px;
    width: 464px;
    background-color: rgba(167, 33, 98, 0.15);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 250px 250px 0 0 ;
}
.feature-flower a{
    font-size: 24px;
    font-weight: bold;
    color: #272727;
}
/* feature-flowers style end */

/* service style start */
.services{
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgba(39, 39, 39 , 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-top: 86px;
    padding-bottom: 85px;
    margin-bottom: 128px;
}
.service{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center; 
}
.service > p{
    text-align: center;
    color:rgba(39, 39, 39 , 0.8);
    font-size: 24px;
    font-weight: 600;
}

/* service style end */


/* hot deal style start */
.hot-deal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 186px;
    background-color: rgba(229, 84, 115 , 0.05);
    padding-top: 100px;
    padding-bottom: 100px;
}
.hot-deal-info{
    max-width: 594px;
    text-align: center;
}
#hot-off-deal{
    color: #E55473;
}
.hot-deal-info > h3{
    font-size: 2.5rem;
    font-weight: 800;
    color: #272727;
    margin-bottom: 24px;
}
.hot-deal-info > p {
    font-size: 1.5rem;
    color: rgba(39, 39, 39,0.6);
    margin-bottom: 32px;
}
/* hot deal style end */

/* insta style start */
.insta{
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.insta > h3{
    font-size: 2.3rem;
    font-weight: 800;
    color: #272727;
    margin-bottom: 24px;
}
.insta > p{
    font-size: 1.1rem;
    color: rgba(39, 39, 39, 0.6);
    max-width: 594px;
    margin-bottom: 48px;
}
.insta-flowers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
/* insta style end */

/* get-latest-deal style start */
    .get-latest-deal{
        max-width: 1440px;
        margin: 0 auto;
        background-image: url(../FlowerAsset/Rectangle\ 9.png);
        background-repeat: no-repeat;
        background-size:contain;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 122px;
        padding-bottom: 122px;
        margin-top: 128px;
    }
    .get-latest-deal > h3{
        font-size: 2.5rem;
        font-weight: 800;
        color: #272727;
        margin: 0 0 16px 0 ;
        
    }
    .get-latest-deal > p{
        font-size: 1.1rem;
        color: rgba(39, 39, 39, 0.6);
       margin: 0 0 48px 0 ;
    }
    .get-latest-deal > form{
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }
    .get-latest-deal > form > input{
        border: none;
        border-radius: 8px;
        
        height: 64px;
        
    }
    #input-email{
        width: 650px;
        padding-left: 22px;
    }

/* get-latest-deal style end */

/* footer style start */
    footer{
        background-color: #111010;
        text-align: center;
        margin-top: 165px;
        padding: 90px 648px 165px 648px;
    }
    footer > h3 {
        font-size: 3rem;
        font-weight: 800;
        margin:  0 0 24px 0;
        color: white;
    }
    footer > h3 > span{
        color: #e55473;
    }
    footer > p{
        font-size: 1.1rem;
        margin:  0 0 32px 0;
        color: rgba(255, 255, 255, 0.9);
    }
    footer > small{
        color: rgba(255, 255, 255, 0.4);
    }
/* footer style end */